<html>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="js/clusters.js"></script>
  <script src="js/histogram.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <body>
    <div class="ui secondary pointing menu">
      <a class="active item">
        DataDome
      </a>
    </div>
    <div class="ui grid">
      <div class="ten wide column">
          <svg id="clusters" width="100%" height="50%"></svg>
          <svg id="hist" width="100%" height="40%"></svg>
      </div>
      <div class="six wide column centered">
        <div class="ui labeled input">
          <div class="ui label"># Clusters:</div>
            <input type="number" id="numClusters" placeholder="Clusters" value="8">
        </div>
        <button class="ui primary button" onclick="updateClusters1();">Update Clusters</button>
        <div class="ui divider"></div>
        <div id="cardList" style="height: 80%; overflow: hidden;">
          <div class="ui list" id="actualList">
          </div>
        </div>
      </div>
    </div>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <script>

      selected = []

      function updateClusters1() {
        var numClusters = $("#numClusters").val();
        $.get( "/cluster?num=" + numClusters, function( data ) {
          clearClusters()
          visualizeClusters(JSON.parse(data), selected)
        });
      }

      function firmsUpdated() {
        var list = document.createElement('div');
        list.className="ui list";
        list.id="actualList";
        list.style="height: 100%;overflow: scroll;padding: 10px;";

        courtsList = []
        for(var i = 0; i < selected.length; i++) {
          if (selected[i].data.courtCases != "None") {
            courtsList.push(selected[i]);
          }
        }

        var len = selected.length;
        if (selected.length > 15) {
          len = 15;
        }
        var count = courtsList.length
        while (count < 15 && count < selected.length) {
          if (selected[count].data.courtCases === "None") {
            courtsList.push(selected[count]);
          }
          count++;
        }

        for(var i = 0; i < courtsList.length; i++) {
            // Create the list item:
            var item = document.createElement('div');
            item.className="ui card"
            var content = document.createElement('div');
            content.className="content"
            var header = document.createElement('div');
            header.className="header"
            header.appendChild(document.createTextNode(courtsList[i].data.busNm));
            var desc = document.createElement('div');
            desc.className="description";
            var descrip = "SEC Number:"+ courtsList[i].data.SECNb + "\nPrediction:" + courtsList[i].data.prediction
            desc.style="word-wrap: break-word;";


            content.appendChild(header);
            content.appendChild(desc);

            if (courtsList[i].data.courtCases !== "None") {
              cases = courtsList[i].data.courtCases.split("!!!")
              descrip += "\nCases:"
              for (var j = 0; j < cases.length; j++) {
                if (cases[j] !== "") {
                  descrip +="\n" +cases[j];
                }
              }
            }
            desc.appendChild(document.createTextNode(descrip));
            content.appendChild(desc);
            item.appendChild(content);
            // Add it to the list:
            list.appendChild(item);
        }

        // Finally, return the constructed list:
        $("#actualList").replaceWith(list);
      }

      data = JSON.parse('{{ json | tojson | safe }}');
      visualizeClusters(data, selected);
      visualizeHist([]);
      //visualizeHist(selected);
    </script>
  </body>
</html>
