<html>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="js/clusters.js"></script>   
  <script src="js/histogram.js"></script>   
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">  
  <body>
    <div class="ui secondary pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
    <div class="ui grid">
      <div class="twelve wide column">
          <svg id="clusters" width="50%" height="50%"></svg>
          <svg id="hist" width="50%" height="40%"></svg>
      </div>
      <div class="four wide column">
          <div class="ui input">
              <input type="number" id="numClusters" placeholder="Clusters">
          </div>
          <button class="ui button" onclick="updateClusters1();">Update Clusters</button>          
      </div>
    </div>
    


    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <script>

      selected = []

      function updateClusters1() {
        var numClusters = $("#numClusters").val();
        $.get( "/cluster?num=" + numClusters, function( data ) {
          clearClusters()
          visualizeClusters(JSON.parse(data), selected)
        });
      }
  
      data = JSON.parse('{{ json | tojson | safe }}');
      data2 = JSON.parse('{{ json2 | tojson | safe }}');
      visualizeClusters(data, selected);
      visualizeHist([]);
      //visualizeHist(selected);
    </script>
  </body>
</html>
